<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Chungang Univ.</string>
	<string>Seoul National Univ.</string>
	<string>Korea Univ.</string>
	<string>Yonsei Univ.</string>
	<string>Soongsil Univ.</string>
</array>
</plist>
